__tests__
.cache
.dist
.DS_Store
.eslintcache
.git
.gitattributes
.github
.gitignore
.gitlab
.hg
.idea
.npm
.nuxt
.output
.pnpm-store
.svn
.vite
.vite-inspect
.vscode
.yarn
.yarn-cache
.yarn-offline-cache
*.db
*.log
*.md
*.sqlite
*.sqlite3
*.swo
*.swp
coverage
data
dist
docs
logs
node_modules
npm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
storage
tests
Thumbs.db
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
yarn.lock

# package-lock.json
# docker-compose*.yml
# Dockerfile
# Dockerfile*

!.env.example
!server/db/*.sqlite

!package.json
!package-lock.json
!vitest.config.ts
!nuxt.config.ts
!test
!test/**
!Dockerfile.test
